{% if shop.policies.size > 0 %}
  <ul
    class="
      policy_list list-unstyled
      custom-typography
      {% if block.settings.font_size != "" %}custom-font-size{% endif %}
    "
  >
    {%- for policy in shop.policies -%}
      {%- if policy != blank -%}
        <li>
          <a
            href="{{ policy.url }}"
            class="footer-utilities__text"
          >
            {{- policy.title | escape -}}
          </a>
        </li>
      {%- endif -%}
    {%- endfor -%}
  </ul>
{% endif %}

{% stylesheet %}
  .policy_list {
    display: flex;
    justify-self: end;
    width: min-content;
    column-gap: clamp(1rem, 6vw, 3.75rem);
    li {
      width: max-content;
      a {
        color: var(--color-foreground);
        display: inline-block;
        padding: 8px;
        text-align: start;
        width: 100%;
        outline-color: #0000;
        font-size: var(--font-size, 0.75rem);
        text-transform: var(--text-transform, none);
      }
    }
  }
  @media screen and (max-width: 749px) {
    .policy_list {
      flex-direction: column;
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.policy_list",
  "tag": null,
  "settings": [
    {
      "type": "paragraph",
      "content": "t:content.manage_policies"
    },
    {
      "type": "select",
      "id": "font_size",
      "label": "t:settings.size",
      "options": [
        {
          "value": "0.625rem",
          "label": "10px"
        },
        {
          "value": "0.75rem",
          "label": "12px"
        },
        {
          "value": "0.875rem",
          "label": "14px"
        },
        {
          "value": "1rem",
          "label": "16px"
        },
        {
          "value": "1.125rem",
          "label": "18px"
        }
      ],
      "default": "0.75rem"
    },
    {
      "type": "select",
      "id": "case",
      "label": "t:settings.case",
      "options": [
        {
          "value": "none",
          "label": "t:options.default"
        },
        {
          "value": "uppercase",
          "label": "t:options.uppercase"
        }
      ],
      "default": "none"
    }
  ],
  "presets": [
    {
      "name": "t:names.policy_list",
      "category": "t:categories.footer"
    }
  ]
}
{% endschema %}
